.recipe {
    color: $c-black;

    &:before {
        position: absolute;
        z-index: -200;
        content: "";

        @include mq(desktop) {
            content: "desktop";
        }
    }
}

.full {
    position: relative;
    min-height: calc(100vh - 48px - 48px);

    @include mq(desktop) {
        min-height: calc(100vh - 48px);
    }
}
