.recipe-header {
    overflow: hidden;
    background-color: $c-purple;
}

.recipe-header__content {
    min-height: calc(100vh - 48px - 94px);
    background-color: #badde9;
    background-position: right 70%;
}

.recipe-header__image {
    position: absolute;
    width: 140%;
    left: -20%;

    @include mq(desktop) {
        width: auto;
        top: -130px;
        left: 350px;
    }
}

.recipe-header__copy {
    padding-top: 9px;
    position: relative;
    z-index: 5;

    @include mq(tablet) {
        max-width: 600px;
    }

    @include mq(desktop) {
        width: 300px;
    }
}

.recipe__standfirst {
    @extend %f-body;
    color: $c-black;
    padding: 0 0 4px;
    display: none;

    @include mq(mobileLandscape) {
        display: block;
    }

    @include mq(desktop) {
        width: 410px;
    }
} 

.recipe__headline {
    @extend %f-headline;
    color: $c-purple;
    padding-bottom: 32px;

    @include mq(tablet, desktop) {
        font-size: 46px;
    }
}
