.recipe-header {
    background-color: $c-purple;
}

.recipe-header__content {
    margin-top: -48px;
}

.recipe-header__media {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50vh;
    margin: 0 -0.625rem;
    background: url("http://i.guim.co.uk/img/static/sys-images/Lifeandhealth/Our_experts/columnists/2015/7/23/1437645750966/Coffee-ricotta-stracciate-010.jpg?w=620&q=85&auto=format&sharp=10&s=914dd034a4640102229cd578c61b196a") no-repeat;
    background-position: bottom center;

    @include mq(tablet) {
        margin: 0 -1.25rem;
    }
}

.recipe-header__image {
    width: 100%;
    display: block;
}

.recipe__standfirst {
    @extend %f-body;
    color: $c-dark-pink;
    padding: (9px + 48px) 0 4px;
}

.recipe__headline {
    @extend %f-headline;
    color: $c-white;
}
