.recipe-header {
    background-color: $c-purple;
}

.recipe-header__content {
    min-height: calc(100vh - 48px - 64px);
    background: url("@@assetPath@@/assets/main.jpg") no-repeat;
    background-color: #93bcc9;
    background-size: 146%;
    margin: 0 -0.625rem;
    background-position: right 70%;

    @include mq(mobileLandscape) {
        margin: 0 -1.25rem;
    }

    @include mq(desktop) {
        background-size: 1300px;
        background-position: left bottom;
    }
}

.recipe-header__image {
    width: 100%;
    display: block;
}

.recipe-header__copy {
    padding-top: 9px;
    padding-left: 20px;

    @include mq(desktop) {
        width: 300px;
    }
}

.recipe__standfirst {
    @extend %f-body;
    color: $c-black;
    padding: 0 0 4px;
    display: none;

    @include mq(mobileLandscape) {
        display: block;
    }
}

.recipe__headline {
    @extend %f-headline;
    color: $c-purple;
}
