.recipe__ingredients {
    position: relative; // To promote above intro__media
    margin: 0;
    padding-bottom: 36px;
}

.recipe__ingredient {
    position: relative;
    list-style: none;
    border-top: 1px dotted $c-grey;
    background-color: $c-pink;
    padding: 2px 6px 0;

    &:last-of-type {
        padding-bottom: 32px;
    }
}

.recipe__ingredients__label {
    display: block;
    font-size: 17px;
    font-family: $f-serif-headline;
    font-weight: 500;
    height: 32px;
    margin: 0;
    padding: 2px 6px 0;
    border-top: 1px solid $c-purple;
    background-color: $c-pink;

    .is-sticky & {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0.625rem;
        right: 0.625rem;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: -1px;
            width: 0.625rem;
            bottom: 0;
            background-color: $c-white;
        }

        &:before {
            left: -0.625rem;
        }

        &:after {
            right: -0.625rem;
        }
    }
}

.recipe__ingredient__amount {
    width: 80px;
    display: inline-block;
    margin-right: 10px;
    font-style: italic;
    position: absolute;

    sup {
        top: -0.3em;
        right: -0.05em;
    }

    sub {
        bottom: -0.2em;
        left: -.1em;
    }
}

.recipe__ingredient__food {
    margin-left: 70px;
    display: block;
}
