.recipe__ingredients-wrapper {
    @include mq(desktop) {
        width: 300px;
        right: 1.25rem;
        top: 0;
        position: absolute;
    }
}

.recipe__ingredients {
    position: relative; // To promote above intro__media
    transition: opacity 0.3s ease-out;
    opacity: 1;

    @include mq(desktop) {
        margin-top: -12px;
        padding-top: 12px;
    }

    &.is-sticky {
        @include mq(desktop) {
            position: fixed;
            top: 12px;
            width: inherit;
            z-index: 20;
        }
    }

    &.is-done {
        opacity: 0;
    }
}

.recipe__ingredients__label {
    position: relative;
    display: block;
    font-size: 17px;
    font-family: $f-serif-headline;
    font-weight: 500;
    height: 32px;
    margin: 0;
    padding: 2px 6px 0;
    border-top: 1px solid $c-purple;
    background-color: $c-pink;
    user-select: none;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: -1px;
        width: 1.25rem;
        bottom: 0;
        background-color: $c-white;
        opacity: 0;

        @include mq($until: desktop) {
            transition: opacity 0.3s ease-out;
        }
    }

    &:before {
        left: -1.25rem;
    }

    &:after {
        right: -1.25rem;
    }

    .is-sticky & {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0.625rem;
        right: 0.625rem;

        @include mq(mobileLandscape) {
            left: 1.25rem;
            right: 1.25rem;
        }

        @include mq(tablet) {
            max-width: 46.25rem - (1.25rem * 2);
            margin: auto;
            box-sizing: border-box;
        }

        @include mq(desktop) {
            position: relative;
            left: auto;
            right: auto;
        }

        &:before,
        &:after {
            @include mq($until: desktop) {
                opacity: 1;
            }
        }
    }
}

.recipe__ingredients__hit-area {
    position: absolute;
    top: -1px;
    left: -1.25rem;
    right: -1.25rem;
    bottom: -50%;
    z-index: 20;
}

.recipe__ingredients__arrow {
    float: right;
    padding-top: 2px;
    opacity: 0;
    fill: $c-white;
    transition: opacity 0.3s ease-out;

    @include mq(desktop) { 
        display: none;
    }

    .is-expandable & {
        opacity: 1;
    }

    .is-expanded & {
        transform: rotate(180deg);
    }
}

.recipe__ingredients__list {
    margin: 0;

    .is-expandable & {
        position: fixed;
        top: 0;
        left: 0.625rem;
        right: 0.625rem;
        transform: translateY(-100%);
        z-index: 15;

        @include mq(mobileLandscape) {
            left: 1.25rem;
            right: 1.25rem;
        }

        @include mq(tablet) {
            max-width: 46.25rem - (1.25rem * 2);
            margin: auto;
            box-sizing: border-box;
        }

        @include mq(desktop) {
            transform: translateY(0);
        }
    }

    .is-transitionable & {
        @include mq($until: desktop) {
            transition: transform .3s ease-out;
        }
    }

    .is-expanded & {
        transform: translateY(0);
    }

    .is-sticky & {
        @include mq(desktop) {
            position: relative;
            left: auto;
            right: auto;
            padding-top: 0 !important;
        }
    }
}

.recipe__ingredient {
    position: relative;
    list-style: none;
    border-top: 1px dotted $c-grey;
    background-color: $c-pink;
    padding: 2px 6px 0;
    transition: color 0.3s ease-out;

    &:last-of-type {
        padding-bottom: 32px;
    }

    &.is-used {
        color: $c-dark-grey;
    }

    &.is-active {
        color: $c-purple;
    }
}

.recipe__ingredient__amount {
    width: 80px;
    display: inline-block;
    margin-right: 10px;
    font-style: italic;
    position: absolute;

    sup {
        top: -0.3em;
        right: -0.05em;
    }

    sub {
        bottom: -0.2em;
        left: -.1em;
    }
}

.recipe__ingredient__food {
    margin-left: 70px;
    display: block;
}
