.recipe-intro {
    padding-top: 6px;

    @include mq(desktop) {
        padding-top: 12px;
    }
}

.recipe-intro__body {
    margin-bottom: 36px;

    @include mq(tablet) {
        position: relative;
        margin: 0 180px 36px 0;
    }

    @include mq(desktop) {
        position: relative;
        margin: 0 320px 36px 180px;
    }

    @include mq(leftCol) {
        margin-left: 320px;
    }
}

.recipe-intro__body__initial {
    float: left;
    display: inline-block;
    text-transform: uppercase;
    font-family: $f-serif-headline;
    font-weight: normal;
    font-weight: 200;
    box-sizing: border-box;
    height: 3rem;
    padding-top: 0.0625rem;
    margin-right: 0.25rem;
    color: $c-purple;

    &__inner {
        display: inline-block;
        vertical-align: text-top;
        font-size: 3.25rem;
        line-height: 2.5rem;
    }
}

.recipe__info {
    overflow: auto;
    margin: 0;
    margin-bottom: 36px;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        right: 1.25rem;
        width: 160px;
    }

    @include mq(desktop) {
        right: auto;
        left: 1.25rem;
    }

    @include mq(leftCol) {
        width: 300px;
    }
}

.recipe__info__item {
    width: calc(50% - 10px);
    border-top: 1px solid $c-purple;
    float: left;
    list-style: none;

    @include mq(tablet, leftCol) {
        width: 100%;
        margin-bottom: 24px;
    }
}

.recipe__info__item--time {
    margin-right: 20px;
}

.recipe__info__label {
    display: block;
    font-size: 17px;
    font-family: $f-serif-headline;
    font-weight: 500;
    height: 44px;
    border-bottom: 1px dotted $c-grey;

    @include mq(tablet) {
        height: 32px;
    }
}

.recipe__info__num {
    @include mq(tablet) {
        margin-right: -2px;
        font-family: $f-serif-headline;
        font-size: 2.4em;
        font-weight: 300;
        line-height: 1.1;
    }
}

.recipe-intro__media {
    padding-top: 85%;
    margin: -50px -0.625rem 0;
    background: url("@@assetPath@@/assets/ingredients.jpg") no-repeat;
    background-position: left bottom;
    background-size: 126%;

    @include mq(mobileLandscape) {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }

    @include mq(desktop) {
        margin-top: 0;
        padding-top: 60%;
        background-position: bottom center;
        background-size: cover;
    }
}
