.recipe-steps {
    margin: 0;
}

.recipe-step {
    list-style: none;
    background: url("http://i.guim.co.uk/img/static/sys-images/Lifeandhealth/Pix/pictures/2013/8/28/1377707738178/Dan-step-3-Stir-in-the-su-008.jpg?w=620&q=85&auto=format&sharp=10&s=91a8715dc71ecc3f76e44f12eadd1830") no-repeat;
    background-size: cover;
    background-position: center center;
}

.recipe-step__content {
    background-color: white;
    padding: 6px 0 24px;
}

.recipe-step__number {
    @extend %f-headline;
    color: $c-purple;
    position: absolute;
}

.recipe-step__body {
    margin-left: 60px;
}